{% for host in item.value.site_hosts if host.redirects | default([]) %}
server {
  {% if item.value.ssl is defined and item.value.ssl.enabled | default(false) -%}
    listen 443 ssl http2;

    {{ lookup('template', 'https.conf.j2') | indent(4) }}
  {% else -%}
    listen 80;
  {% endif -%}

  server_name {{ host.redirects | join(' ') }};

  {% if item.value.ssl is not defined or not item.value.ssl.enabled | default(false) -%}
    include acme-challenge-location.conf;

    location / {
      return 301 $scheme://{{ host.canonical }}$request_uri;
    }
  {% else %}
    return 301 $scheme://{{ host.canonical }}$request_uri;
  {% endif %}
}
{% endfor %}
